
.descriptionBlock{
  padding: 10px;
}

.status{
  font-style: italic;
  color: cornflowerblue;
  font-weight: bold;
}

.contact{
  padding-left: 10px;
}

.formSummaryError{
  border: red 1px solid;
  padding: 5px;
  color: darkred;
}

.avatar{
  width: 20vw;
  border-radius: 10vw;
}